
.option_hover a {
    visibility: hidden;
}

.option_hover:hover a, option_hover:active a {
    visibility: visible;
}

.truncate {
  max-width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}