%# Note that this file is not a valid *.css file!
%# It is intended to be a bottlepy - style template
%# used for the scripting part of TheOnionBox!

.box_Log
{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    border-collapse: collapse;

}

/*    #log_table tr:nth-child(odd)
    {
        background-color: #eeeeee;
    }*/

.box_Log tr
{
    border-bottom-style: solid;
    border-color: #eeeeee;
    border-width: 1px;
}

.box_Log td
{
    padding: 2px 5px;

}

.box_Log_runlevel
{
    %# // width: 10%;
    width: 5.5em;
}

.box_Log_stamp
{
    %# // width: 20%;
    %# // width: 12em;
    width: 5.5em;
}

.scroll_area
{
    height: 250px;
    overflow: auto;
}

.scroll_area td
{
    vertical-align: top;
}

.DEBUG, .BOX_DEBUG { color: Gray; display: block; }
.INFO, .BOX_INFO {color: Blue; display: block;}
.NOTICE {display: block;}
.WARN, .BOX_WARN { color: OrangeRed; display: block;}
.ERR, .BOX_ERR { color: Red; display: block;}
.BOX { color: Blue; display: block;}
.THIS { color: #778899; display: block;}
